<!DOCTYPE html>
<html>
  <head>
    <title>Suport System For New Buyer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav-extended">
      <div class="nav-wrapper">
        <%= link_to "Suport System For New Buyer", root_path,
          class: "item brand-logo center" %>
        <a href="#" class="brand-logo"></a>
        <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <ul class="side-nav fixed" id="mobile-nav">
      <li class="search">
        <div class="search-wrapper card">
          <%= form_tag root_path, method: :get do %>
            <%= text_field_tag :query, params[:query], placeholder: "Search ...", id: "search" %>
            <i class="material-icons">search</i>
          <% end %>
        </div>
      </li>
      <li class="bold <%= "#{'active' if current_page?('/')} "%>">
        <%= link_to "Home", root_path, class: "waves-effect waves-teal"%>
      </li>
      <li class = "bold <%= "#{'active' if current_page?('/analyze')}" %>">
        <%= link_to "Sentiwordnet", analyze_path,
          class: "waves-effect waves-teal" %>
      </li>
      <li class="bold <%= "#{'active' if current_page?('/scrapers/new')}" %>">
        <%= link_to "Scraper", new_scraper_path, class: "waves-effect waves-teal" %>
      </li>
      <li>
        <ul class="collapsible collapsible-accordion mining">
          <li class="bold"><a class="collapsible-header waves-effect waves-teal">Mining</a>
            <div class="collapsible-body" style="display: block;">
              <ul>
                <li><%= link_to "By brand", clustering_brand_path %></li>
                <li><%= link_to "By product", clustering_score_path %></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <div class="container <%= params[:controller] %>">
      <div id="cameras">
        <div class="card">
          <div class="card-content">
            <%= yield %>
          </div>
        </div>
      </div>

    </div>
    <% flash.each do |key, msg| %>
      <%= javascript_tag "Materialize.toast('#{msg}', 4000, '#{key}')" %>
    <% end %>
  </body>
</html>
